.topBar {
    margin-right: 180px;
    text-align: left;
}

.pageAttributes {
    float: right;
}

.pageMenu {
    clear: left;
    margin-right: 180px;
    border-right: 1px solid #a7d7f9;
}

.pageMenu .button {
    float: right;
    border-left: 1px solid #a7d7f9;
}

.pageMenu .search {
    float: left;
}

.pageMenu .upload {
    float: left;
}

.pageContent {
    clear: left;
    margin-right: 180px;
}

.toc {
    float: left;
    margin-right: 5px;
}
